<% include ./partials/header %>
<div class="container" style="position:absolute;
                              margin-top:100px;
                                  margin-left:450px;">
       <form action="/recipe/<%=recipe._id%>/comments" method="post" style="width:30%;;padding-left:10px;">
           <h2 class="bg-info">Add Comment</h2>
           <div class="form-group">
               <lable>Comments</lable>
               <input type="text"  class="form-control "name="comments[text]">
           </div>
           
           <button class="btn btn-info">
               Submit
           </button>
       </form>
</div>
<% include ./partials/footer %>
